<p id="notice"><%= notice %></p>
<h1>Educator Profile page</h2>
<% @educatorpodcast.each do |podcast|%>
  <p><%= podcast.podcast_title%></p>
  <img src=<%= podcast.podcast_photo%>/>
  <p><%= podcast.description%></p>
<%end%>
