// Place all the styles related to the landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron {
    height: 100%;
    padding: 0;
    background-color: #ffffff;
    margin-bottom: 60px;
}